<?xml version="1.0" encoding="UTF-8"?>
<jnlp codebase="http://www.geopublishing.org/@PATH@/" href="http://www.geopublishing.org/@PATH@/as.jnlp" spec="1.0+">
  <information>
    <title>$project.Name</title>
    <description>A graphical editor to create OGC SLD files</description>
    <homepage href="$project.Url"/>    
    <vendor>$project.Organization.Name</vendor>
    <icon kind="default" href="icon64_AS.gif" height="64" width="64"/> 
    <icon kind="splash" href="startAS.gif"/>    
    
	<shortcut online="true">
	  <desktop/>
	  <menu submenu="AtlasStyler"/>
	</shortcut>    
    
  </information>
  <security>
    <all-permissions/>
  </security>
  
  <update check="always" policy="always"/>
  
  <resources>
    <java href="http://java.sun.com/products/autodl/j2se" java-vm-args="-Dfile.encoding=UTF-8" max-heap-size="320m" version="1.6.0_14+"/>

    <property name="jnlp.packEnabled" value="true"/>
	<property name="file.encoding" value="UTF-8"/>
	$dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>
